<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo React JS!</title>
    <script src="lib/react.js"></script>
    <script src="lib/react-dom.js"></script>
    <script src="lib/browser.min.js"></script>
    <script src="test.js"></script>
    <style>
        .yellow{background-color: yellow;}
    </style>
</head>
<body>
    <div id="root">
        
    </div>
    <br/>
    <script src="xuly.js" type="text/babel">
   
    </script>   
</body>
</html>